@import '~bootstrap/scss/bootstrap';
@import 'custom';
.App {

  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #152938;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.start-page-container {
      width: 35em !important;
      height: 25em !important;
        border-radius: 1em !important;
        border: '1px solid black';
        padding: 20px;

}

.start-page-container-header {
  color: #304859 !important;
  font-weight: 700 !important;
}

.start-page-button-dark {
  background-color: #304859!important;
}

.start-page-button-medium {
  background-color: #6395B8 !important;
}
.memory-header {
  background-color: #152938;
  height: 150px;
  padding: 20px;
  color: white;
}
.dark-page {
    background-color: #152938;
    width: 100vw;
    height: 100vh;
}
